
*/static/css/
*/static/admin/
*/static/debug_toolbar/
*/static/fontawesome/
*/static/js/
*/static/src/
*/static/logo.png
__pycache__/
db.sqlite3
crypto.cp37-win_amd64.pyd
bcdc/__pycache__/urls.cpython-37.pyc
.pytest_cache
.vscode
secret_key.py
private_settings.py
private_key
inspect_result.py
bcdc_viewer
/calculations