

{% extends "base.html" %}
{% load static %}
{% block content %}

 <script src="{% static 'loader/about.js' %}"></script>
 <link href="{% static 'loader/about.css' %}" rel="stylesheet">

<div class="card">
    
        <div class="card-body">
            <h1 >MEC Data Viewer</h1>
        </div>
        
        
        <div class="card-text">
            <h6 >created by MEC</h6>
        </div>
        </div>
        <div class="card">
    <div class="card-text">
            <h6 >Support: </h6>
        </div>
</div>

    <form method="POST" enctype="multipart/form-data">

    <div class="input-group">

  </form>

    <div>

        <p>
        </p>
    </div>

{% endblock %}


